.product-item {
  border-style: ridge;
  margin-bottom: 1em;
}

.product-item-title {
  font-size: large;
  font-weight: bold;
}

.product-item-description {
  font-size: medium;
  color: grey;
  display: inline-block;
}

.product-item-img {
  margin: auto;
}

.product-item-button {
  margin-top: auto;
  margin-block-end: 0.2em;
  width: auto;
}
.product-item-body {
  display: grid;
}

.product-item-body:hover {
  cursor: pointer;
}

.details-image img {
  width: 10em;
  height: 5em;
}
.details-image {
  margin-top: 0.5em;
}
.details-price {
  display: grid;
}
.details-price input {
  width: 3em;
  text-align: center;
}

.details-description textarea {
  font-size: small;
  width: -webkit-fill-available;
  resize: both;
}

.products-details-container textarea,
input {
  font-size: medium;
}

.products-details-container span {
  font-size: medium;
  font-weight: bold;
}

.details-name {
  display: grid;
}

.details-button {
  float: right;
}
