.product-item {
  border-style: ridge;
  margin-bottom: 1em;
}

.product-item-title {
  font-size: large;
  font-weight: bold;
}

.product-item-description {
  font-size: medium;
  color: grey;
  display: inline-block;
}

.product-item-img {
  margin: auto;
}

.product-item-button {
  margin-top: auto;
  margin-block-end: 0.2em;
  width: auto;
}
